<div data-list-item-index="{{key}}" >
	{{#if display_first_item_constant}}
	<div data-field="{{base_key}}" class="constant-first-item"></div>
	{{else}}
	<div data-field="{{base_key}}"></div>
	<span class="delete-multitext-item-btn glyphicon glyphicon-remove"></span>
	{{/if}}
</div>