<div data-list-item-index="{{key}}" class="multi-field-list-item">
	<span class="delete-multipart-list-item-btn delete-field-list-item-btn glyphicon glyphicon-remove"></span>
	{{#each items}}
	<div data-field="{{baseKey}}"></div>
	{{/each}}
</div>