<div class="alert alert-danger" role="alert">
  {{#each errors}}
  <div>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    &nbsp;
    <span>{{this}}</span>
  </div>
  {{/each}}
</div>