<div data-list-item-index="{{key}}" class="multi-field-list-item">
	<span class="delete-field-list-item-btn glyphicon glyphicon-remove"></span>
	<div data-field="{{extract_from.baseKey}}"></div>
	<div data-field="{{name.baseKey}}"></div>
	<div data-field="{{value.baseKey}}"></div>
</div>